@model ParameterTableDisplay
<table class="mt-2">
    <thead>
        <tr class="text-left">
            <th class="px-4">Option</th>
            <th class="px-4">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var param in Model.OptionValues)
        {
            <tr>
                <td class="px-4 text-center">@param.Option</td>
                <td class="px-4">@param.Value</td>
                <td class="px-4">
                    <input type="checkbox" name="@Model.Name" value="@param.Option" class="@Model.Name"
                           onclick="setApiRequest(this)" />
                </td>
            </tr>
        }
    </tbody>
</table>