@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mx-12 mt-8 space-y-8">
    <div class="space-y-4">
        <h1 class="text-4xl font-medium">Energy Utility API</h1>
        <p class="text-xl">
            Enterprise level API for calculating UK energy cost and consumption by postcode and household features.
            The Energy Utility API can be relied upon to deliver the most accurate, and up to date energy results, all
            at
            a single endpoint.
            Data about the household can be sent to the API as query string parameters, see the table of available
            parameters below as well as the API URL. Test the API by selecting one or more
            checkboxes in the parameter table. Selecting a checkbox adds the corresponding parameter and option to the
            API URL
            request,
            and the response is shown below the request URL.
        </p>
    </div>
    <div class="flex space-x-16 text-lg">
        <div class="space-y-4 flex-2">
            <div class="space-y-2">
                <h2 class="font-medium">API URL:</h2>
                <textarea id="apiRequestText" type="text"
                          class="border border-2 border-[#BBBABA] rounded-lg w-full py-1 px-2"
                          disabled>@Model.EnergyUtilityApiUrl</textarea>
                <input id="apiRequestInput" type="hidden" value="@Model.EnergyUtilityApiUrl" disabled />
                <div class="bg-[#D9D9D9] h-[400px] flex justify-center overflow-auto">
                    <pre id="jsonDisplay"></pre>
                </div>
            </div>
        </div>
        <div class="flex-3 space-y-4">
            <div class="flex justify-center">
                <label>
                    Search:
                    <input type="search" id="searchInput"
                           class="border border-2 border-[#BBBABA] rounded-lg py-1 px-2 w-[400px]"></input>
                </label>
            </div>
            <div class="overflow-auto h-[400px]">
                <table id="parameterTable" class="table-fixed w-full">
                    <thead class="bg-[#D9D9D9]">
                        <tr class="tableRow text-left m-4">
                            <th class="p-4 w-[22%]">Parameter</th>
                            <th class="p-4 w-auto">Required</th>
                            <th class="p-4 w-[25%]">Value </th>
                            <th class="p-4 w-[38%]">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form method="post">
                            @Html.AntiForgeryToken()
                            @foreach (var row in Model.ParameterTableData)
                            {
                                <tr class="tableRow border-b-2 border-[#D9D9D9]">
                                    <td class="p-4">@row.Name</td>
                                    <td class="p-4">@row.Required</td>
                                    <td class="p-4">
                                        <ol>
                                            <li><strong>Type:</strong> @row.Type</li>
                                            <li><strong>Default:</strong> @row.DefaultValue</li>
                                            <li><strong>Options:</strong> @row.Options</li>
                                            
                                        </ol>
                                    </td>
                                    <td class="p-4">
                                        @row.Text
                                        @if (row.Name != "Postcode")
                                        {
                                            <partial name="_SubtablePartial" model="row" />
                                        }
                                    </td>
                                </tr>
                            }
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/tableSearch.js" asp-append-version="true"></script>
    <script src="~/js/fetchData.js" asp-append-version="true"></script>
}